* {
	font-family: 'Nunito', sans-serif;
	padding: 0px;
	margin: 0px;
}

body {
	
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #669999;
	width: 95%;
	height: auto;
	margin: 20px;
	border: solid 7px #006666;
	border-radius: 15px;
}

#game-title {
	display: flex;
	justify-content: center;
	width: auto;
}
.score-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
}

.game-scores {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
}

#player1 {
	border: 2px solid #006666;
	font-size: 20px;
	width: 35%;
	padding: 5px;
}

#player2 {
	border: 2px solid #006666;
	font-size: 20px;
	width: 35%;
	padding: 5px;
}

#score1 {
	background-color: #fff;
	text-align: center;
	border: 2px solid #006666;
	width: 15%;
	font-size: 20px;
	padding: 5px;
}

#score2 {
	background-color: #fff;
	text-align: center;
	border: 2px solid #006666;
	width: 15%;
	font-size: 20px;
	padding: 5px;
}

.board-container {
	width: 300px;
	height: auto;
	display: flex;
	justify-content: center;
	background-color: #d9e6f2;
	border: 2px solid #006666;
	border-radius: 20px;
	padding: 25px;
}

.game-board {
		justify-content: center;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-areas: "square1 square2 square3"
                         "square4 square5 square6"
                         "square7 square8 square9";
		padding: 25px;
}

h1 {
		justify-content: center;
		width: 100%;
		padding: 50px;
		font-size: 35px;
}

#square1 {
    grid-area: square1;
    width: 100px;
    height: 100px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

#square2 {
    grid-area: square2;
    width:100px;
    height:100px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

#square3 {
    grid-area: square3;
    width:100px;
    height:100px;
    border-bottom: 2px solid #000;
}

#square4 {
    grid-area: square4;
    width:100px;
    height:100px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

#square5 {
    grid-area: square5;
    width:100px;
    height:100px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

#square6 {
    grid-area: square6;
    width:100px;
    height:100px;
    border-bottom: 2px solid #000;
}

#square7 {
    grid-area: square7;
    width:100px;
    height:100px;
    border-right: 2px solid #000;
}

#square8 {
    grid-area: square8;
    width:100px;
    height:100px;
    border-right: 2px solid #000;
}

#square9 {
    grid-area: square9;
    width:100px;
    height:100px;
}

.game-buttons {
	display: flex;
	justify-content: center;
	padding: 20px;
	width: 100%;
	height: 100%;
}

.btns {
	color: #fff;
	text-align: center;
	font-size: 60px;
	width: 100px;
	height: 100px;
	border: 0px;
}


#btn-play {
	color: #fff;
	background-color: #00CC99;
	text-align: center;
	font-size: 18px;
	width: 120px;
	height: 60px;
	border: solid 2px #000;
	border-radius: 15px;
	margin: 15px;
	
}

#btn-restart {
	color: #fff;
	background-color: #ff4e1a;
	text-align: center;
	font-size: 18px;
	width: 120px;
	height: 60px;
	border: solid 2px #000;
	border-radius: 15px;
	margin: 15px;
}